

  a {
    text-decoration: none;
  }

  ul li {
    list-style-type: none;
  }

  hr {
    width: 70%;
    margin-left: 250px;
    background-color: #ffe1f1;
  }


  .Contain {
    width: 100%;
    min-width: 1226px;
    height: 2200px;
    background-color: #554e86;
    min-width: 1226px;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;

  }

  .Point {
    width: 15px;
    height: 15px;
    background-color: #f9cce2;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    margin-top: 7px;
    overflow: visible;
    float: left;
  }

  .Menu {
    width: 100px;
    height: 250px;
    margin-left: 60px;
    margin-top: 15px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    overflow: auto;
  }

  .Menu_Contain {
    width: 100%;
    height: 30px;
    margin-bottom: 30px;
  }

  .Menu_Goto {
    width: 50px;
    height: 25px;
    color: #f9cce2;
    margin-left: 10px;
    line-height: 28px;
    font-size: 18px;
    font-family: 微软雅黑;
  }

  a:hover {
    text-decoration: none;
    background-color: #f7716f;
    -moz-border-radius: 7%;
    -webkit-border-radius: 7%;
  }

  .Depart_intro {
    width: 80%;
    height: 750px;
    min-width: 1226px;
    margin-left: auto;
    margin-right: auto; 
    display: flex;

    align-items: flex-start;
    flex-direction: column;
  }

  .Depart_intro h1 {
    color: #f9cce2;
    font-size: 35px;
    margin-left: 250px;
    margin-top: 40px;
    margin-bottom: 10px;
    letter-spacing: 5px;
    font-family: "微软雅黑";
  }

  .Depart_intro_contain {
    width: 100%;
    margin-top: 30px;
   
  }

  .Depart_intro_contain p {
    width: 80%;
    height: 100%;
    color: #ffe1f1;
    font-size: 18px;
    line-height: 26px;
    margin-left: 250px;
    font-family: "微软雅黑 ";
    font-weight: normal;
  }

  .Member_intro_title {
    width: 80%;
    height: 1350px;
    min-width: 1226px;
    margin-left: auto;
    margin-right: auto;

    h1 {
      color: #ffe1f1;
      font-size: 35px;
      margin-left: 250px;
      margin-top: 40px;
      margin-bottom: 10px;
      letter-spacing: 5px;
      font-family: "微软雅黑";
    }
  }


  .Member_intro_contain {
    width: 100%;
    margin-top: 10px;
  }

  .Member_member {
    width: 70%;
    height: 240px;
    margin-left: 250px;
    margin-top: 60px;
    display: flex;
    justify-content: flex-start;

    h2 {
      color: #f9cce2;
      width: 30%;
      height: 40px;
      font-size: 25px;
      letter-spacing: 0px;
      font-family: "\5FAE\8F6F\96C5\9ED1";
    }




    .Member-intro {
      height: 100%;
      width: 100%;
      margin-left: 40px;
      display: flex;
      justify-content: flex-start;
      flex-direction: column;

      h1 {
        color: #f9cce2;
        width: 30%;
        height: 40px;
        font-size: 25px;
        letter-spacing: 0px;
        font-family: "微软雅黑";
      }

      p {
        color: #ffe1f1;
        width: 60%;
        height: 150px;
        font-size: 17px;

        line-height: 28px;
        letter-spacing: 1px;
        font-family: "微软雅黑";
      }




    }
  }

  .Member_Pic {
    width: 270px;
    height: 240px;
    background-color: white;
  }

  #Member_Pic1 {
    background-image: url(../img/Mem1.jpg);
    background-position: -870px -400px;
  }

  #Member_Pic2 {
    background-image: url(../img/Mem2.jpg);
    background-position: -860px -300px;
  }

  #Member_Pic3 {
    background-image: url(../img/Mem3.jpg);
    background-position: -1200px -400px;
  }

  #Member_Pic4 {
    background-image: url(../img/Mem4.jpg);
    background-position: -870px -250px;
  }




