@import "../../../../common";

.AdvertColumn {
  background-color: #52506c;
  padding-bottom: 3rem;

  .SendSomethings {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    color: white;
    padding-top: 3rem;

    .News, .Notes {
      font-size: 2rem;
      padding: 3rem;
      border: 3px solid silver;
      border-radius: 5em;
      margin: 0 2rem;
    }

    .advertButton {
      padding: 3rem 0;
      border: 3px solid #52506c;
      outline: none;
      border-radius: 20%;
      width: max-content;
      color: #52506c;
      > span {
        font-size: 1.5rem;
        text-align: center;
        padding-right: 5rem;
        //padding-right: 50%;
        //color: red;
        transition: all 0.6s ease;
      }
    }

    .advertButton > span::before {
      content: 'Want to ';
      opacity: 0;
      transition: all 0.5s ease;
    }
    .advertButton:hover {
      > span {
        padding-right: 2.5rem;
        padding-left: 2.5rem;
      }

      #spanL::before, #spanR::before {
        opacity: 1;
      }
    }
    .advertButton:hover {
      box-shadow: 3px 5px 10px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
      outline: deepskyblue;
      border: 3px solid deepskyblue;
      opacity: 1;
      transition: all 0.4s ease;
    }
    .advertButton:active {
      box-shadow: none;
      transform: translateY(1px)
    }

  }
  .Welcome {
    @include center;
    user-select: none;
    padding-top: 2rem;
    flex-direction: column;
    font-size: 3rem;
    height: max-content;
    color: white;
    div {
      width: max-content;
      display: inline-block;
      @include center;
    }
  }
  .column {
    width: 100%;
    ul {
      display: flex;
      padding-top: 6rem;
      width: 100%;
      flex-direction: row;
      justify-content: center;
      padding-bottom: 2rem;
      li {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        border: 3px solid #c4cbcf;
        background-color: #afa8c4;
        border-radius: 5em;
        margin: 0 3rem;
        width: 20rem;
        padding: 1rem;
        .up {
          @include center;
          .logo {
            display: inline-block;
            width: 40px;
            height: 40px;
            background: url("../../../../images/logo.png") no-repeat center center;
            background-size: contain;
            margin-right: 3rem;
            margin-left: 2rem;
            text-align: center;
          }
          -webkit-background-size: 12px;
          background-size: 12px;
          width: 16rem;
          padding: 2rem;
          border-bottom: 1px solid;
        }
        .down {
          padding: 0 0.9rem;
          .MemberName {
            @include center;
            font-size: 2rem;
          }

          .Text {
            text-indent: 1.6rem;
            word-wrap: break-word;
            text-align: justify;
            word-break: break-all;
            font-weight: normal;
            line-height: 2.3rem;
          }
        }
      }
    }
  }
}
