.SourceSend {
  background-color: #f2f2f2;
  height: 100vh;
  overflow-y: visible;
  overflow-x: hidden;
}

@media screen and (max-width: 767px) {
  .SourceSend {
    font-size: 1rem;
    height: 100%;
    overflow-y: hidden;
    //padding-top: 5rem;
    padding-bottom: 2.5rem;
  }
}