@import "../../../../../../common";

.listItem {
  padding-top: 1rem;
  ::selection {
    background-color: silver;
  }
  .noteDiv h2 {
    display: flex;
    font-size: 1.3rem;
    font-weight: bold;
  }

  .text p {
    font-weight: lighter;
    overflow: hidden;
    line-height: 2.5rem;
    font-size: 1.2rem;
  }

  .noteHeader {
    padding: 1rem 2rem;
    height: max-content;
  }

  li .img {
    display: inline-block;
    background: url("../../../../../../images/logo.png") no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    width: 50px;
    height: 40px;
    margin-right: 0.7rem;
    //border-radius: 50px;
  }

  .sender {
    display: inline;
    font-size: 0.8em;
    color: #379be9;
  }

  .listItem {
    padding-top: 2rem;
  }

  /*.container ul:last-child {
    padding-bottom: 5rem;
  }*/

  .noteDiv {
    margin-bottom: 1rem;
    border: 3px solid silver;
    border-radius: 12px;
    background-color: white;
    min-height: 187px;
  }

  .noteHeader {
    padding: 1rem 3rem;
  }

  .sender {
    cursor: pointer;
    display: inline;
    font-size: 1rem;
    color: $K_sender;
  }

  .header {
    display: inline-block;
    padding-right: 1rem;
    border: 3px solid $K_herder;
  }

  .time {
    color: #999;
    font-size: 0.6rem;
  }

  li {
    height: max-content;
  }

  .sourceName {
    width: auto;
    color: $K_sourceName;
    flex-direction: row;
    justify-content: center;
    padding-top: 1rem;
  }

  .textOut .text {
    margin: 0 1.8rem;
    padding-bottom: 2rem;
    text-indent: 2.5rem;
    text-align: justify;
    //word-break: break-all;
    overflow-y: hidden;
  }
  .sourceComment {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 0 3rem;
    .commenting {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      width: 100%;
      margin: 0 auto;

      .comments {
        // background-color: red;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        line-height: 30px;
        height: 35px;
        width: 250px;
        .toDo {
          display: flex;
          flex-direction: row;
          justify-content: space-between;

          .good {
            cursor: pointer;
            @include spaceBetween;
            width: 29px;
            height: 26px;
            background: url("../../../../../../images/logo.png");
            background-size: cover;
            //margin-bottom: 20px;
          }

        }
        .pp {
          cursor: pointer;
          font-size: 1rem;
          line-height: 30px;
          //padding-bottom: 10px;
          user-select: none;
          padding-left: 1rem;
        }
        /* .review:after {
           padding-left: 1.8rem;
           content: "⇡";
           opacity: 0;
         }*/
        .Comment {
          width: 29px;
          height: 26px;
          background: url("../../../../../../images/logo.png");
          background-size: cover;
          /*margin-right: 20px;
          margin-bottom: 20px;*/

        }
      }

    }
    .wrightComment {
      display: none;
      //margin: 0 auto;
      width: 100%;
      //padding: 0 3rem;
      > textarea {
        width: 100%;
        border: 1px solid #999;
        border-radius: 2%;
        height: 1.8rem;
        line-height: 1.8rem;
        font-size: 0.8rem;

        //text-align: center;
      }
      .wright {
        //width: 100%;
        text-indent: 0.8rem;
      }
      .sendComm {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        padding: 0.5rem 2rem 1rem 0;
        .commButton {
          outline: none;
          border: none;
          width: 4rem;
          height: 1.6rem;
          background-color: cadetblue;
          border-radius: 9%;

        }
      }
      .commButton:hover {
        /*box-shadow: 3px 5px 10px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);*/
        opacity: 0.9;

      }
      .commButton:active {
        box-shadow: none;
        //transform: translateY(2px);
        opacity: 1;
      }
    }
    .commentContent {
      width: 100%;
      ul {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        li {
          //padding-left:3rem;
        }
      }
    }
  }
  @media screen and (max-width: 767px) {
    .noteDiv {
      //margin: 2.5rem 0;
    }

    .text > p {
      line-height: 1.5rem;
      font-size: 0.8rem;
    }
    .text {
      text-indent: 1.6rem;
    }
    .sender {

      font-size: 0.8rem;
    }
    .listItem {
      padding-top: 1.5rem;
    }
    .noteHeader {
      padding: 1rem 1.2rem;
    }
    .noteDiv h2 {
      font-size: 1rem;
    }
  }

}
