header {
  width: 100%;
  height: 40px;
  background-color: $headerBlue;
  position: fixed;
  z-index: 1000;

  .header-nav-btn {
    width: 30px;
    height: 30px;
    position: fixed;
    top: 5px;
    left: 10px;
    background: $headerBlueBoxShadow;
    border-radius: 100%;
  }

  .header-wrapper {
    height: 100%;
    width: 960px;
    margin: 0 auto;
    padding-left: 45px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .header-logo {
      width: 120px;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;

      .header-logo-img {
        width: 40px;
        height: 40px;
        background: url("../../../images/logo.png") no-repeat center center;
        background-size: contain;
      }

      h1 {
        width: 80px;
        height: 40px;
        line-height: 40px;
        color: $white;
        user-select: none;
        letter-spacing: 2px;
        text-align: center;
      }
    }

    .header-aside {
      width: 300px;
      height: 40px;
      display: flex;
      @include sapceBetween;

      .header-write-wrapper {
        width: 80px;
        height: 40px;
        display: flex;
        @include sapceBetween;

        div {
          width: 20px;
          font-size: 18px;
          padding-right: 5px;
        }
        h1, div {
          height: 40px;
          text-align: left;
          line-height: 40px;
          color: $white;
          letter-spacing: 1px;
          user-select: none;
        }
        h1 {
          width: 65px;
          font-size: 12px;
        }
      }
    }
  }
}

