aside {
  width: 110px;
  height: 380px;
  position: absolute;
  top: -380px;
  left:50px;
  z-index: -1;
  transition-duration: 1s;
  transition-timing-function: cubic-bezier(0, 0, 0.74, 1.35);

  ul {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    @include sapceBetween;

    a{
      width: 100%;
      height: 20px;
      background: $headerBlack;
      border-radius: 3px;
      text-decoration: none;
      li {
        width: 100%;
        height: 20px;
        position: relative;
        display: flex;
        @include sapceAround;

        div, h1 {
          width: 40px;
          height: 20px;
        }
        //部门的logo
        div::before {
          line-height: 20px;
          color: $white;
          font-size: 12px;
          padding-left: 10px;
        }
        //部门名
        h1 {
          color: $white;
          line-height: 20px;
          letter-spacing: 2px;
          font-size: 13px;
          font-weight: bold;
          user-select: none;
        }
      }
      li::before {
        content: "";
        width: 2px;
        height: 20px;
        background: $headerBlack no-repeat;
        position: absolute;
        transform: translate(0, -50%);
        left: 8px;
        top: -15px;
      }

      li::after {
        content: "";
        width: 2px;
        height: 20px;
        background: $headerBlack no-repeat;
        position: absolute;
        transform: translate(0, -50%);
        right: 8px;
        top: -15px;
      }
      .aside-fst-child::before,.aside-fst-child::after{
        top: -20px;
        height: 30px;
      }
    }

    a:active,a:hover{
      text-decoration: none;
    }
  }

}