@import "../../common";

.SourceHomeNav {
  height: 4.5rem;
  user-select: none;
}

.SourceHomeNav li {
  @include SourceA;
  cursor: pointer;
}

.SourceHomeNav ul {
  display: flex;
  font-size: 1rem;
  height: 1.5rem;
  margin-left: 8.5rem;
  margin-top: 20px;
  padding-top: 2.3rem;
  max-width: 475px;
  // max-height: 24px;
  min-width: 320px;
  border-bottom: 1px solid silver;
}

.SourceHomeNav li {
  padding: 0 1rem;
  height: 24px;
  max-width: 64px;
  max-height: 24px;
  margin: 0 2px;
  min-width: 32px;
  color: #8a988e;
}

.SourceHomeNav li:hover {
  margin: 0 1px;
  color: #8a988e;
  text-decoration: none;
  border: 1px solid deepskyblue;
  //border-bottom: 1px solid silver;
  box-shadow: 2px 2px 2px silver;
}

#choose {
  margin: 0 1px;
  color: #8a988e;
  text-decoration: none;
  border: 1px solid deepskyblue;
  //border-bottom: 1px solid silver;
  box-shadow: 2px 2px 2px silver;
}

@media screen and (max-width: 767px) {
  .SourceHomeNav {
    display: flex;
    width: 100%;

    .navFlex {
      width: 100%;
      @include center;
      ul {
        @include center;
        height: 1.6rem;
        margin: 0;
        padding-top: 1rem;
      }
      li {
        padding: 0 0.3rem;
        font-size: 0.8rem;
        text-align: center;
        line-height: 23px;
      }
    }
  }
}
