.top-title {
    width: 100%;
    margin-top: 40px;
    min-width: 1226px;

    .top-title-set {
        width: 100%;
        height: 100%;
        background-image: url(../img/background-page.png);
        background-position: center center;
        background-size: cover;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .logo-top {
            width: 220px;
            height: 220px;
            background-image: url(../img/logo-top.png);
            background-position: center center;
            background-size: cover;
            margin-top: 10vh;

        }

        .title {
            width: 800px;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 5vh;

            .h1 {
                font: {
                    size: 55px;

                }

                letter-spacing: 15px;
            }

            .h2 {
                font: {
                    size: 55px;

                }

                letter-spacing: 15px;
                margin-top: 1vh;
            }

            .h3 {
                font: {
                    size: 70px;
                }

                letter-spacing: 25px;
            }

            margin-top: 4vh;


        }

        .logo-put {
            width: 50px;
            height: 50px;
            background-image: url(../img/8.png);
            background-position: center center;
            background-size: cover;
            margin-top: 8vh;
            margin-bottom: 10vh;


        }

    }
}
